.banner__container {
  display: flex;
}
.banner__img-container {
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.banner__text {
  width: 50%;
  height: 100%;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.banner__container--flipped {
  flex-direction: row-reverse;
}
.banner__button {
  background-color: transparent;
  border: 1px solid;
  padding-block: 6px;
  padding-inline: 10px;
  min-width: 100px;
  border-radius: 50px;
  cursor: pointer;
}
.banner__hashtag {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

